apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: venue-ui-service
  namespace: venue-dev
spec:
  replicas: 1
  template:
    metadata:
      labels:
        application: venue-ui
        version: v1
    spec:
      containers:
      - name: venue-ui-service
        image: volentixlabs/venueui:IMAGE_TAG
        ports:
        - containerPort: 3000
