// Import Bulma's core
// @import "~bulma/sass/utilities/_all";
// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// 2. Set your own initial variables
$venue-purple: #84429a;
$venue-purple-invert: findColorInvert($purple);
$volentix-blue-grey: #232C3b;
$grey: #d5d8da;
$family-sans-serif: "Titillium", "Helvetica", "Aria", "sans-serif";

// 3. Set the derived variables
// Use the new purple as the primary color
$primary: $venue-purple;
$primary-invert: $venue-purple-invert;
$family-primary: $family-sans-serif;

// These are generic variables; not sure the difference between this and derived
$body-background-color: $volentix-blue-grey;
$body-color: $grey;

$title-color: $grey;
$subtitle-color: $grey;

$label-color: $grey;

$card-background-color: $volentix-blue-grey;
$card-color: $grey;
// 4. Setup your Custom Colors
// $linkedin: #0077b5;
// $linkedin-invert: findColorInvert($linkedin);
// $twitter: #55acee;
// $twitter-invert: findColorInvert($twitter);
// $github: #333;
// $github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
// @import "~bulma/sass/utilities/derived-variables";
// $addColors: (
//   "twitter":($twitter, $twitter-invert),
//   "linkedin": ($linkedin, $linkedin-invert),
//   "github": ($github, $github-invert)
// );
// $colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma and Buefy
@import "~bulma";
@import "~buefy/src/scss/buefy";
